javascrip/XML y DTDs (T1, 2 y 3)/Nueva carpeta/Ejercicio1DTD.dtd

<!DOCTYPE declaraciones SYSTEM "Ejercicio1XML">
<!DOCTYPE declaraciones [
  <!ELEMENT declaraciones (consonante, variable+, tipo_de_dato+)>
  <!ELEMENT consonante (#PCDATA)>
  <!ELEMENT variable (#PCDATA)>
  <!ATTLIST consonante valor CDATA #IMPLIED>
  <!ATTLIST variable tipo CDATA #IMPLIED>
  <!ELEMENT tipo_de_dato (fecha, hecho)>
  <!ELEMENT fecha (#PCDATA)>
  <!ELEMENT hecho (#PCDATA)>
]>