javascrip/XML y DTDs (T1, 2 y 3)/EX T1/Ejercicio1DTD.dtd

<!DOCTYPE declaraciones SYSTEM "file:\C:\Users\Javi\Desktop\Nueva carpeta\Ejercicio1XML.">
<!DOCTYPE declaraciones [
<!ELEMENT declaraciones (consonante, variable+, tipo_de_dato+)>
<!ELEMENT consonante (#PCDATA)>
<!ELEMENT variable (#PCDATA)>
<!ATTLIST consonante (valor)>
<!ATTLIST variable (tipo*)>
<!ELEMENT tipo_de_dato (fecha, hecho)>
<!ENTITY (BR)>
]>